:root {
    --orange-dark: #E87928;
    --orange-bright: #FF8B37;
    --orange-midlight: #FFAC70;
    --orange-light: #FFF3EB;
    --green-bright: #47D867;
    --green-light: #E6FAEA;
    --red-bright: #EC6259;
    --red-light: #FDEEED;
    --grey-dark: #1C1C21;
    --grey-midlight: #D0D0D8;
    --grey-light: #F5F5F7;
    --white: #FFFFFF;
}