.container {
  display: flex;
}

.main {
  display: flex;
  flex-shrink: 0.35;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-height: 100dvh;
  min-width: 320px;
  width: 100vw;
  padding: 16px 0 16px;
  background: var(--grey-light);
}

.heading {
  font-size: 18px;
  text-align: center;
  font-weight: 600;
  padding: 0 16px;
  margin: auto;
}

@media (min-width: 768px) {
  .main {
    width: 100%;
  }

  .heading {
    font-size: 24px;
    text-align: left;
    margin: 0;
  }

  .main {
    padding: 92px 56px;
  }
}

@media (min-width: 1024px) {
  .heading {
    font-size: 24px;
    margin: 0;
  }

  .main {
    padding: 92px 56px;
  }
}

