.nav {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 2;

  @media (min-width: 768px) {
    display: none;
  }
}

.burger_button {
  margin: 16px 16px 16px auto;

  @media (min-width: 768px) {
    display: none;
  }
}