.answer {
    font-size: 14px;
    text-align: left;
    height: 56px;
    width: 320px;
    margin: 0 auto 8px;
    border: none;
}

.answer:active {
    cursor: pointer;
    background: url("../../public/mobile_selected_option.svg");
}

.answer_inactive {
    background: url("../../public/mobile_inactive_option.svg");
}

.answer_correct {
    background: url("../../public/mobile_correct_option.svg");
}

.answer_incorrect {
    background: url("../../public/mobile_incorrect_option.svg");
}

.answer_title {
    color: var(--orange-bright);
    font-weight: 600;
    margin-left: 40px;
}

.answer_description {
    color: var(--grey-dark);
    font-weight: 400;
    margin-left: 8px;
}