.options_group {
  display: flex;
  flex-direction: column;
}

.answer {
  font-size: 14px;
  text-align: left;
  height: 56px;
  width: 320px;
  margin: 0 auto 8px;
  border: none;
  cursor: pointer;
  background: url("../../public/mobile_option_inactive.svg");
}

.answer:active, .answer:hover {
  background: url("../../public/mobile_option_selected.svg");
}

.answer_correct {
  background: url("../../public/mobile_option_inactive.svg");
  animation: correct 0.7s infinite;
}

@keyframes correct {
  from {
    background: url("../../public/mobile_option_correct.svg");
  }
  to {
    background: url("../../public/mobile_option_inactive.svg");
  }
}

.answer_incorrect {
  background: url("../../public/mobile_option_incorrect.svg");
  animation: incorrect 0.7s infinite;
}

@keyframes incorrect {
  from {
    background: url("../../public/mobile_option_incorrect.svg");
  }
  to {
    background: url("../../public/mobile_option_inactive.svg");
  }
}

.answer_label {
  color: var(--orange-bright);
  font-size: 14px;
  font-weight: 600;
  margin-left: 40px;
}

.answer_title {
  color: var(--grey-dark);
  font-weight: 400;
  margin-left: 8px;
}

@media (min-width: 768px) {
  .options_group {
    flex-wrap: wrap-reverse;
  }

  .answer {
    font-size: 16px;
  }

  .answer_label {
    font-size: 16px;
  }
}