.progress {
    font-size: 14px;
    text-align: left;
    height: 32px;
    width: 320px;
    margin: 0 auto 8px;
    border: none;
}

.progress_next {
    color: var(--grey-dark);
    background: url("../../public/mobile_progress_inactive.svg") no-repeat;
}

.progress_current {
    color: var(--orange-bright);
    background: url("../../public/mobile_progress_active.svg") no-repeat;
}

.progress_previous {
    color: var(--grey-midlight);
    background: url("../../public/mobile_progress_inactive.svg") no-repeat;
}

.progress_title {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 8px;
}