.progress {
  /* mobile assets */
  --mobile_active: url("../../public/mobile_progress_active.svg");
  --mobile_inactive: url("../../public/mobile_progress_inactive.svg");
  /* mobile assets */

  /* desktop assets */
  --desktop_active: url("../../public/desktop_progress_active.svg");
  --desktop_inactive: url("../../public/desktop_progress_inactive.svg");
  /* desktop assets */

  font-size: 14px;
  text-align: left;
  height: 32px;
  width: 320px;
  margin: 0 auto 8px;
  border: none;
}

.progress_next {
  color: var(--grey-dark);
  background: var(--mobile_inactive);
}

.progress_current {
  color: var(--orange-bright);
  background: var(--mobile_active);
}

.progress_previous {
  color: var(--grey-midlight);
  background: var(--mobile_inactive);
}

.progress_title {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 8px;
}

@media (min-width: 1440px) {
  .progress {
    font-size: 20px;
    height: 40px;
    width: 376px;
  }

  .progress_next {
    background: var(--desktop_inactive);
  }

  .progress_current {
    background: var(--desktop_active);
  }

  .progress_previous {
    background: var(--desktop_inactive);
  }
}