.progress_group {
  display: flex;
  flex-flow: column-reverse;
  margin: auto;
}

.progress {
  font-size: 14px;
  height: 32px;
  width: 320px;
  margin: 4px auto;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: 1440px) {
    font-size: 20px;
    height: 40px;
    width: 376px;
  }
}

.progress_next {
  color: var(--grey-dark);
  background: var(--progress-inactive);
}

.progress_current {
  color: var(--orange-bright);
  background: var(--progress-active);
}

.progress_previous {
  color: var(--grey-midlight);
  background: var(--progress-inactive);
}
