.container {
  background: var(--grey-light);
  width: 100%;
  min-width: 320px;
  transition: margin-right ease-in-out 0.5s;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  z-index: 3;
}

.container_is_open {
  margin-right: 0;
}

.container_is_closed {
  margin-right: -100%;
}

.progress_group {
  display: flex;
  flex-direction: column;
  flex-flow: column-reverse;
}

@media (min-width: 768px) {
  .container {
    position: static;
    background: var(--white);
    margin: auto;
    max-width: 320px;
  }

  .container_is_closed {
    margin-right: 0;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 376px;
  }
}
